.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.hereo-header-3-container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.hereo-header-3-padding {
  padding-right: 2rem;
  padding-left: 2rem;
}

.uui-section_heroheader03 {
  overflow: hidden;
}

.section {
  position: relative;
  width: 100%;
  padding: 20px 10px;
  border: 1px none #000;
  background-color: #eefbff;
  text-align: center;
}

.section.styling {
  background-color: #fff;
}

.white-box {
  padding: 60px 15px 15px;
  border: 1px none #475467;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
  text-align: center;
}

.white-box.styling {
  background-color: #eefbff;
}

.h3 {
  font-family: 'Open Sans', sans-serif;
  color: #475467;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.items {
  width: 150px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.items.styling {
  width: 150px;
  height: 120px;
}

.items.cover-styling {
  height: 310px;
}

.section-title-group {
  margin-bottom: 60px;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #475467;
  font-weight: 600;
  text-transform: uppercase;
}

.h4 {
  border: 1px none #475467;
  font-family: 'Open Sans', sans-serif;
  color: #475467;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
}

.container-10 {
  margin-top: 25px;
}

.link-4 {
  display: inline-block;
  width: 900px;
  padding-top: 10px;
  padding-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.link-4.footerlink {
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.footer-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-link-3 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-decoration: none;
}

.footer-link-3:hover {
  color: #fff;
}

.image-4 {
  padding-right: 5px;
}

.footer-social-link-3 {
  margin-left: 12px;
}

.footer-content-4 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-social-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: -12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-copyright {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;
}

.zzc-group-logo {
  position: static;
}

.zzc-group-logo.hidden {
  display: none;
}

.image-5 {
  border-radius: 5px;
}

.footer-wrapper-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  max-width: 900px;
  margin-top: 19px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-divider-3 {
  width: 900px;
  height: 1px;
  margin: 10px auto 40px;
  background-color: #e4ebf3;
}

.footer-dark {
  position: relative;
  left: 0%;
  top: 0px;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  width: 100%;
  height: 300px;
  padding: 0px 30px;
  border-style: none;
  border-width: 5px;
  border-color: #c00f0f;
  background-color: #7dc8de;
  background-image: none;
}

.uui-button-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  background-color: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #6941c6;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
}

.uui-button-link:hover {
  color: #53389e;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.uui-space-xsmall {
  width: 100%;
  min-height: 1rem;
}

.text {
  font-family: 'Open Sans', sans-serif;
  color: #475467;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
}

.spacer {
  width: 100%;
  min-height: 0.5rem;
}

.heading-small {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: 'Open Sans', sans-serif;
  color: #475467;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0em;
}

.item-text-wrapper {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.icon-small {
  width: 1.5rem;
  height: 1.5rem;
  color: #c57ec6;
}

.icon-outline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.5rem solid #f9f5ff;
  border-radius: 100%;
  background-color: #fff;
  color: #7f56d9;
}

.item-icon-wrapper {
  margin-right: 1rem;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.item-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.layout-image {
  width: 300px;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
}

.layout-component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.padding-vertical {
  padding-top: 60px;
  padding-bottom: 0rem;
}

.content-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.section-layout-padding {
  padding-right: 2rem;
  padding-left: 2rem;
}

.hero-heading-left-2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 60px 30px 80px;
  border: 1px none #000;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7dc8de), color-stop(39%, #fff));
  background-image: linear-gradient(180deg, #7dc8de, #fff 39%);
}

.container-11 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.hero-wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-split-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 46%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.margin-bottom-24px-2 {
  margin-top: 20px;
  margin-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #475467;
  font-size: 20px;
  font-weight: 600;
}

.button-primary-2 {
  padding: 12px 25px;
  border: 1px none #009fae;
  border-radius: 5px;
  background-color: #6acdc3;
  background-image: linear-gradient(86deg, #7dc8de 100%, #6acdc3);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.button-primary-2:hover {
  background-color: #7dc8de;
  color: #fff;
}

.button-primary-2:active {
  background-color: #7dc8de;
}

.image-mobile {
  margin-bottom: 30px;
  padding-bottom: 0px;
  box-shadow: none;
}

.image-mobile.styling {
  display: none;
}

.heading-2 {
  background-image: linear-gradient(86deg, #7dc8de, #6acdc3);
  font-family: 'Open Sans', sans-serif;
  color: #6acdc3;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1920px) {
  .hereo-header-3-padding {
    overflow: hidden;
    width: 100vw;
  }

  .uui-section_heroheader03 {
    width: 100vw;
  }

  .section {
    overflow: hidden;
    width: 100%;
    margin-top: 60px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px 0px;
    border-radius: 0px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .section.styling {
    width: 100%;
  }

  .container-2 {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .white-box {
    padding-right: 15px;
  }

  .h3 {
    font-size: 21px;
  }

  .items {
    width: 150px;
    height: 120px;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
  }

  .items.styling {
    width: 150px;
    height: 120px;
  }

  .section-heading {
    margin-top: 10px;
    margin-bottom: -32px;
    font-size: 40px;
  }

  .container-10 {
    overflow: hidden;
  }

  .link-4 {
    padding-bottom: 30px;
    font-size: 20px;
  }

  .footer-copyright {
    overflow: hidden;
  }

  .footer-wrapper-4 {
    margin-top: -5px;
  }

  .footer-divider-3 {
    margin-bottom: 20px;
  }

  .footer-dark {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 230px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #009fae;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0%, #7dc8de));
    background-image: linear-gradient(180deg, #fff, #7dc8de 0%);
  }

  .row {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .text {
    font-size: 19px;
  }

  .heading-small {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .item-text-wrapper {
    margin-top: -10px;
    margin-right: -20px;
    padding: 10px 20px 20px;
    border-radius: 5px;
    background-color: #fff;
  }

  .item {
    width: 800px;
  }

  .item-list {
    width: 400px;
    -ms-grid-columns: 2.75fr;
    grid-template-columns: 2.75fr;
  }

  .content {
    width: 800px;
  }

  .layout-image {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: -40px;
    padding-left: 0px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .image-wrapper {
    width: 300px;
    height: 300px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0);
  }

  .layout-component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100vw;
    min-width: 0vw;
    margin-top: -20px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .padding-vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1280px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
  }

  .content-large {
    overflow: hidden;
    width: 1280px;
  }

  .section-layout-padding {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100vw;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .section-layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100vw;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-heading-left-2 {
    display: block;
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    border: 1px none #000;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7dc8de), color-stop(58%, #fff));
    background-image: linear-gradient(180deg, #7dc8de, #fff 58%);
    font-family: 'Open Sans', sans-serif;
  }

  .hero-wrapper-2 {
    height: 500px;
  }

  .hero-split-2 {
    width: 450px;
    height: 400px;
  }

  .margin-bottom-24px-2 {
    font-size: 27px;
  }

  .button-primary-2 {
    margin-top: 20px;
  }

  .image-mobile {
    width: 450px;
    height: 361.9866027832031px;
    margin-top: 84px;
    margin-bottom: 0px;
  }

  .image-mobile.styling {
    display: none;
  }

  .heading-2 {
    margin-top: 200px;
    font-size: 50px;
  }

  .body {
    overflow: visible;
    max-width: 100vw;
    background-color: #eefbff;
  }

  .div-block {
    overflow: hidden;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .hereo-header-3-padding {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .section {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .white-box {
    background-color: #fff;
  }

  .h3 {
    font-size: 16px;
  }

  .items {
    width: 150px;
    height: 120px;
  }

  .items.styling {
    width: 150px;
    height: 120px;
  }

  .items.cover-styling {
    height: 250px;
  }

  .section-heading {
    margin-bottom: -48px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #475467;
    font-weight: 600;
    text-align: center;
  }

  .section-heading.styling {
    margin-top: 29px;
  }

  .h4 {
    font-size: 16px;
  }

  .h4.styles {
    font-size: 14px;
  }

  .link-4 {
    width: 710px;
    max-width: 768px;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 20px;
  }

  .link-4.footerlink {
    font-weight: 600;
  }

  .footer-content-4 {
    grid-column-gap: 60px;
  }

  .footer-copyright {
    width: 710px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .footer-wrapper-4 {
    width: 710px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-divider-3 {
    width: 710px;
    margin: 20px auto 10px;
  }

  .footer-dark {
    width: 998px;
    height: 255px;
    max-width: 100%;
    margin-top: 0px;
    background-image: none;
  }

  .icon-outline {
    color: #18b1ba;
  }

  .layout-image {
    width: 300px;
    height: 100%;
    padding-top: 0px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .layout-component {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .padding-vertical {
    display: block;
    padding-top: 4rem;
    padding-bottom: 0rem;
  }

  .container-11 {
    max-width: 728px;
  }

  .hero-wrapper-2 {
    margin-bottom: -90px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-split-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .image-mobile {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .hereo-header-3-container-large {
    width: 510px;
  }

  .hereo-header-3-padding {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .uui-section_heroheader03 {
    padding-left: 0px;
  }

  .section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section.styling {
    display: block;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .white-box {
    margin-bottom: 30px;
    padding-top: 25px;
  }

  .h3 {
    margin-bottom: 0px;
    padding-bottom: 20px;
    font-size: 30px;
  }

  .items {
    width: 150px;
    height: 130px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .items.styling {
    width: 150px;
    height: 150px;
  }

  .items.cover-styling {
    width: 250px;
  }

  .section-heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
  }

  .h4 {
    font-size: 20px;
  }

  .link-4 {
    width: 100%;
    padding-bottom: 20px;
    font-size: 15px;
  }

  .footer-block-3 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-link-3 {
    font-size: 13px;
  }

  .footer-link-3:hover {
    color: #fff;
  }

  .footer-social-link-3 {
    margin-left: 20px;
  }

  .footer-content-4 {
    margin-top: 40px;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-social-block-4 {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-copyright {
    width: 80%;
  }

  .footer-copyright.footer-tablet {
    width: 100%;
  }

  .zzc-group-logo {
    display: none;
  }

  .zzc-group-logo.hidden {
    display: block;
  }

  .image-5 {
    padding-top: 0px;
  }

  .footer-wrapper-4 {
    width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-divider-3 {
    width: 80%;
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .footer-dark {
    position: relative;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 500px;
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    background-image: none;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .uui-button-link {
    font-size: 1rem;
  }

  .uui-button-link:hover {
    color: #6941c6;
  }

  .row {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .uui-space-xsmall {
    min-height: 0.75rem;
  }

  .heading-small {
    font-size: 1.25rem;
  }

  .item-list {
    grid-row-gap: 2.5rem;
  }

  .layout-image {
    margin-top: -48px;
    margin-bottom: -200px;
    padding-bottom: 0px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .layout-component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .padding-vertical {
    padding-top: 4rem;
    padding-bottom: 0rem;
  }

  .section-layout-padding {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .hero-heading-left-2 {
    padding: 60px 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7dc8de), color-stop(14%, #fff));
    background-image: linear-gradient(180deg, #7dc8de, #fff 14%);
  }

  .hero-wrapper-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-split-2 {
    width: 90%;
    min-width: 480px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .margin-bottom-24px-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .button-primary-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-mobile {
    width: 436px;
  }

  .heading-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 45px;
  }
}

@media screen and (max-width: 479px) {
  .hereo-header-3-padding {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .section {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .section.styling {
    width: 100%;
    padding-top: 0px;
    border-radius: 5px;
  }

  .items {
    width: 150px;
    height: 130px;
  }

  .items.styling {
    width: 150px;
    height: 150px;
    margin-top: 40px;
  }

  .items.cover-styling {
    height: 250px;
  }

  .section-heading {
    margin-bottom: 0px;
  }

  .section-heading.styling {
    margin-top: 20px;
  }

  .h4 {
    margin-bottom: 40px;
    font-size: 18px;
  }

  .container-10 {
    max-width: 80%;
  }

  .link-4 {
    overflow: hidden;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
  }

  .link-4.footerlink {
    width: 300px;
  }

  .link-4.styling {
    height: 150px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .footer-link-3 {
    overflow: hidden;
    margin-top: 0px;
    font-size: 18px;
  }

  .footer-content-4 {
    overflow: hidden;
    margin-top: 20px;
    grid-row-gap: 20px;
  }

  .image-6 {
    overflow: hidden;
  }

  .footer-copyright {
    width: 300px;
  }

  .footer-copyright.footer-tablet {
    font-size: 15px;
  }

  .image-5 {
    overflow: hidden;
  }

  .footer-wrapper-4 {
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .footer-divider-3 {
    width: 100%;
    margin: 60px 0px 0px;
  }

  .footer-dark {
    position: static;
    overflow: hidden;
    width: 100%;
    height: 450px;
    max-width: 500px;
    min-width: 320px;
    margin-top: -200px;
    background-image: none;
  }

  .column {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .text {
    font-size: 13px;
  }

  .layout-image {
    display: none;
  }

  .layout-component {
    margin-bottom: 200px;
    padding-top: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .padding-vertical {
    padding-bottom: 0px;
  }

  .hero-heading-left-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7dc8de), color-stop(38%, #fff));
    background-image: linear-gradient(180deg, #7dc8de, #fff 38%);
  }

  .container-11 {
    max-width: none;
  }

  .hero-wrapper-2 {
    width: 290px;
    margin: 0px auto;
  }

  .hero-split-2 {
    width: 100%;
    min-width: 290px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .margin-bottom-24px-2 {
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
  }

  .button-primary-2 {
    margin-top: 60px;
    margin-bottom: 0px;
  }

  .image-mobile {
    display: none;
    width: 320px;
    height: 200px;
    max-width: 320px;
  }

  .image-mobile.styling {
    display: block;
    width: 150%;
    height: 250px;
    max-width: 280px;
    margin-bottom: 10px;
  }

  .heading-2 {
    width: 100%;
    margin: 20px auto 10px;
    padding-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 27px;
    text-align: center;
  }
}

#w-node-_31b901da-cd3e-a226-b0c7-65c9f94fc78b-241d566c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_31b901da-cd3e-a226-b0c7-65c9f94fc78f-241d566c {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_31b901da-cd3e-a226-b0c7-65c9f94fc79f-241d566c {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_31b901da-cd3e-a226-b0c7-65c9f94fc7af-241d566c {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_17b509b0-49eb-d0bd-60c6-40f69b0de1d1-241d566c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_17b509b0-49eb-d0bd-60c6-40f69b0de1d4-241d566c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_31b901da-cd3e-a226-b0c7-65c9f94fc78d-241d566c {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
}

